
.ipynb_checkpoints/Untitled-checkpoint.ipynb
Untitled.ipynb
Karense.ipynb
verbs.xlsx
VerbBender.xlsx
babbel2.xlsx
Edites Corpus.ipynb
.ipynb_checkpoints/Edites Corpus-checkpoint.ipynb
*.ipynb
*.ipynb
